PORT=3001
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_REFRESH_KEY=
PASSWORD_SALT=10
MONGODB_URI=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=dev
FRONTEND_ORIGIN=https://scribo-blog-stage.duckdns.org
API_ORIGIN=https://scribo-blog-stage.duckdns.org

MAIL_SENDER=
MAIL_PASSWORD=

AWS_CONNECT_ACCESS_KEY=
AWS_CONNECT_SECRET_ACCESS_KEY=
AWS_CONNECT_REGION=
AWS_CONNECT_BUCKET_NAME=

REDIS_URL=redis://stage-redis:6379
