
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_REFRESH_KEY=
PASSWORD_SALT=10

MONGODB_URI=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

FRONTEND_ORIGIN=https://scribo.pp.ua
API_ORIGIN=https://scribo.pp.ua

BACKUP_ENABLED=true

MAIL_SENDER=
MAIL_PASSWORD=

