NEXT_PUBLIC_APP_API_URL=https://scribo-blog.duckdns.org
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_APP_VERCEL_PROJECT_PRODUCTION_URL=scribo-blog.duckdns.org
NEXT_PUBLIC_SOCKET_URL=wss://scribo-blog.duckdns.org/ws
