
STACK=prod

COMPOSE_PROJECT_NAME=scribo-prod

IMAGE_TAG=latest

MEM_FRONTEND=768m
MEM_BACKEND=768m
MEM_SOCKET=256m
MEM_REDIS=320m
REDIS_MAXMEMORY=256mb

# COMPOSE_PROFILES=mongo
MEM_MONGO=1g
MONGO_CACHE_GB=0.5
